body {
    color: white;
    background-color: chartreuse;
    font-family: $font;
    transition: all 2s;
    
    &.dark{
        background-color: $cor-primaria;
        color: $cor-secundaria;
    }
}

.container {
    max-width: 2000px;
    border-width: 2px;
    border-style: solid;
    border-color: red;
    margin-left: auto;
    margin-right: auto;
  
  }